.landing {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.distortion {
    height: 920px;
    width: 640px;
    align-self: flex-end;
}

.intro h2 {
    font-size: 50px;
}
.intro p {
    font-size: 25px;
}

.intro {
    align-self: center;
}
